.spinners-logingoogle{ 
 padding-top: 60px;
}
.contain-token p { 
     color: azure;
     font-size: 20px;
}
.contain-token div { 
     color: rgb(235, 246, 246);
     font-size: 16px;
}
.spinner{ 
     color: azure;
}