.span-body{ 
     z-index: 3;
    position: absolute;
     height: calc(100vh - 44px) ;
     width: calc(100% - 150px);
     align-items: center;
     text-align: center;
}
.span-body-menu{
     padding-top: 20px 0;
      background-color: rgb(79, 102, 102);
}