#diswall{ 
     text-transform: capitalize;
"color": red;
}
#eneawall{
          text-transform: capitalize;
     "color": red;
}
#getmet{
     text-transform: capitalize;
     "color": red;
}
#Serverbtn{ 
     text-transform: capitalize;
     "color": red;
}

#Serverbtn{
     "color": rgb(134, 45, 45);
     transition: all 0.3s;
     position: relative;
   }
